<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CropWise - Smart Farming Solutions{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="stylesheet" href="/home/ashura/Desktop/django/farmer_project/static/css/style.css">
</head>
<body class="font-sans bg-gray-50">
    {% include 'navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

    

    <script>
        AOS.init({
            duration: 800,
            easing: 'ease-in-out',
            once: true
        });
        document.addEventListener('DOMContentLoaded', function() {
            feather.replace(); // Call feather.replace() here for the test icon
        });
    </script>
</body>
</html>